<html>
  <body>
    <ul style="font-family:monospace;padding:0;margin:0">
      {% for category in categories %}
      <li>
	<b>{{category.name}}</b>
	<ul>
	  {% for account in category.accounts %}
	  <li>
	    <a href="https://twitter.com/{{account.username}}">@<span>{{account.username}}</span></a>
	    <ul>
	      {% for tweet in account.tweets %}
	      <li>{{tweet.text}} <a href="https://twitter.com/{{tweet.username}}/status/{{tweet.id}}">...</a></li>
	      {% endfor %}
	    </ul>
	  </li>
	  {% endfor %}
	</ul>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
